.git
.github
.idea
.vscode
.atl
.env
.env.*
!.env.example
node_modules
vendor
public/build
public/hot
public/storage
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
tests
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
pnpm-debug.log
*.md
!README.md
